:root {
    --Linear-gradient: linear-gradient(20deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));/*color del borde de los inputs al seleccionarlo*/
    --Red: hsl(0, 100%, 66%);/*este color se muestra en el borde de los inputs al ingresar mal un dato*/


    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(286, 8%, 68%);
    --Very-dark-violet: hsl(278, 73%, 22%);
    font-size: 62.5%;
    /*es el 62.5% de 16px que es el valor por defecto de 1rem, de esta forma ahora 1rem = 10px, 1.5rem = 15px, etc.*/
    font-family: 'DM Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.main-background{
    width: 100%;
    height: 210px;
    margin-bottom: 65px;
}

.card-back{ 
    width: 296px;
    height: 27%;
    position: absolute;
    left: 50px;
    top: 28px;
    z-index: 20;
}

.card-back-image{ 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 22;
}

.card-cvc{
    position: absolute;
    top: 33%;
    left: 80%;
    z-index: 25;
    color: white;
    font-size: 1.5rem;
}

.card-front{
    width: 296px;
    height: 27%;
    position: absolute;
    z-index: 29;
    bottom: 275px;
    left: 15px;
}

.card-front-image{ 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
}



.card-number{
    position: absolute;
    z-index: 32;
    left: 8%;
    top: 42%;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
}

.card-name{
    position: absolute;
    z-index: 32;
    left: 8%;
    top: 72%;
    color: white;
    font-size: 1.4rem;  
}

.card-month{
    position: absolute;
    z-index: 32;
    left: 80%;
    top: 79%;
    color: white;
    font-size: 1.3rem;
}
.card-year{
    position: absolute;
    z-index: 32;
    left: 87%;
    top: 79%;
    color: white;
    font-size: 1.3rem;
}
.card-slash{
    position: absolute;
    z-index: 32;
    left: 85%;
    top: 79%;
    color: white;
    font-size: 1.3rem;
}

.card-logo{
    width: 25%;
    height: 25%;
    position: absolute;
    z-index: 32;
    left: 8%;
    top: 12%;
}

form{
    color: var(--Very-dark-violet);
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 16px;
    margin-right: 16px;
    position: absolute;
    bottom: 1%;
}

input{
    height: 30px;
    border-radius: 6px;
    border-color: var(--Light-grayish-violet);
}

/*añade un borde con color rojo cuando se envia el formulario y se deja un input en blanco o cuando se ingesa un dato incorrecto*/
.input-error{
    height: 30px;
    border-width: 1px;
    border-radius: 6px;
    border-color: red;
}

input::placeholder{
    color: var(--Dark-grayish-violet);
}

/*añade un borde con color gradiente al seleccionar un input*/
input:focus{
    outline: none;
    border-image: var(--Linear-gradient);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
} 

.inputs-name-num{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.inputs-date-cvc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/*ancho de los inputs month y year*/
.inputs-date{
    width: 79%;
}

.label-inputs{
    font-size: 1.1rem;
    color: red;
}

.label-cvc{
   position: relative;
   left: 32px;
}

button{
    width: 100%;
    background-color: var(--Very-dark-violet);
    color: var(--Light-grayish-violet);
    border-radius: 6px;
    padding: 9px;
    border: none;
    font-size: 1.5rem;
}

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 2px;
}

.hide{
    display: none;
}

.thank{
font-size: 2rem;
}

.text{
    font-size: 1.5rem;
    color: var(--Dark-grayish-violet);
    position: relative;
    bottom: 20px;
}

.btn-confirm{
    width: 90%;
}










